KERNEL=="uinput", SUBSYSTEM=="misc", TAG-="uaccess", OWNER="root", GROUP="korri-sunshine-input-seat", MODE="0660", OPTIONS+="static_node=uinput"
KERNEL=="uhid", SUBSYSTEM=="misc", TAG-="uaccess", OWNER="root", GROUP="korri-sunshine-input-seat", MODE="0660", OPTIONS+="static_node=uhid"
SUBSYSTEM=="input", KERNEL=="event*", ATTRS{name}=="Korri Seat P[1-4]", GROUP="korri", MODE="0660"
