.pico-location-picker {
	position: absolute;
	inset: 0;
	z-index: 2;
	display: grid;
	place-items: center;
	padding: var(--pico-u);
	background: var(--pico-bg);
}

.pico-location-picker > * {
	width: min(100%, calc(var(--pico-px) * 200));
}

.pico-location-picker-list {
	display: grid;
	gap: calc(var(--pico-px) * 2);
	margin: 0;
	padding: 0;
	list-style: none;
}
